.Cuerpo_inicio{

    background-color: rgb(8,38,63);
    margin: 2%;
    padding: 5%;
}

.img_bienvenido{

    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 55%;
    height: auto;
    height: auto;
    margin-left: 25%;
    margin-top: 0;
    position: relative;
}
