body {
  background-color: #08263f !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.Logo {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  width: 40%;
}

nav {
  display: flex;
  justify-content: center;
  color: #b7bdc2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}
.botones {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding: 2%;
  gap: 10px;
}
