body {
  padding: 25px;
  background-image: url("/IMG/back-ground.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.contenedor-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 25%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 50%;
  width: 50%;
}

.form {
  display: flex;
  background-color: #08263f8f;
  justify-content: center;
  flex-direction: column;
  padding: 2% 5% 5%;
  gap: 10px;
}

.text-center {
  font-size: 150%;
  font-weight: 500;
  color: #b7bdc2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.btn , .btn-info , .mt-3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
