body {
  background-image: url("/IMG/back-ground.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin-left: 5%;
}

.contenedor_elementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: #08263f9d;
  color: #b7bdc2;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 5%;
  margin: 5% 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h1{
  text-transform: uppercase;
}

.valor_a_retirar {
  background-color: #08263f9d;
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 5%;

}