body {
  background-image: url("/IMG/back-ground.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin-left: 5%;

}

.container-transaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #08263f9d;
  border-radius: 10px;
  padding: 3%;
  margin: 50px 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cabezote {
  display: flex;
  color: #b7bdc2;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 30px;
  }

h1 {
  color: #b7bdc2;
  background-color: #08263f9d;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 45px !important;
}

.botones-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}


.gif{
    width: 200px;
}

.botones {

    display: flex;
    flex-direction: column;
    justify-content: center;
}
