body {
    display: flex;
    justify-content: center;
    background-image: url("/IMG/back-ground.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding-top: 3%;
    margin-left: 5%;
  
  }

  .contenedor_elemntos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #08263f9d;
    color: #b7bdc2;
    padding: 2% 15% 5%;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .card-container{
    padding: 100px;
    background-color: #10324e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 230px; /* Ajusta la altura de la tarjeta según tus necesidades */
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left; /* Alineación del texto a la izquierda */
    border: 2px solid #2c91d4; /* Borde azul claro predeterminado */
    transition: box-shadow 0.3s, border-color 0.3s; /* Agrega transición al cambio de sombra y color de borde */
  }

  .card:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3); /* Efecto de iluminación blanca al pasar el mouse */
    border-color: #fff; /* Cambia el color del borde a blanco al pasar el mouse */
  }

  .card-content {
    flex-grow: 1;
  }

  .card-bank {
    font-size: 28px; /* Tamaño del nombre del banco aumentado */
    font-weight: bold;
    margin-bottom: 10px;
    color: #b7bdc2;
  }

  .card-number {
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 5px;
  }

  .card-details {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    gap: 10px;
  }

  .card-expiry span,
  .card-holder span {
    display: block;
    margin-bottom: 5px;
  }

  .card-expiry span:last-child {
    text-align: right;
  }

  .card-holder span {
    text-transform: uppercase;
  }

  .card-shield {
    margin-left: 20px; /* Ajusta el espacio entre la imagen y el texto */
    border: 2px solid #b7bdc2; /* Borde azul claro predeterminado */
    border-radius: 5px; /* Borde redondeado para la imagen del escudo */
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Ajusta la altura de la imagen*/
  }

  .card-shield img {
    width: 100%; /* Ajusta el ancho de la imagen */
    height: auto; /* Ajusta la altura de la imagen*/
    border-radius: 3px; /* Borde redondeado para la imagen del escudo */
  }